%h1 Listing events

%table
  %tr
    %th Name
    %th Location
    %th Start at
    %th End at
    %th Description
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.location
      %td= event.start_at
      %td= event.end_at
      %td= markdown event.description
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New event', new_event_path
