%section.info
  %h1= @event.name

  - if @event.creator == current_user
    = link_to 'Edit', edit_event_path(@event)

  %h2 Cuándo?
  %p= schedule_for(@event).humanize

  %h2 Dónde?
  %p= @event.location

  = markdown @event.description
