%h1= @event.name

%h2 Cuándo?
%p= schedule_for @event

%h2 Dónde?
%p= @event.location

= markdown @event.description

- if @event.creator == current_user
  = link_to 'Edit', edit_event_path(@event)
  \|

= link_to 'Back', events_path
